.ui-widget, .ui-widget .ui-widget {
    font-size: 150%;
    font-family:Calibri;
}
.card p{
    font-size: 125%;
    font-family:Arial;
}
.ui-widget {
    font-size: 100% !important;
}
.ui-g-12 {

}


.logo {

    float: left;
}
.ui-menu-list, .ui-helper-reset {
    float: right;

}

.pi-times {
    color:red;
}

.pi-search {
    color:black;
}
.ui-menuitem,  .ui-widget, .ui-corner-all {


}

h2{
    text-align:center;
}