.ui-widget, .ui-widget .ui-widget {
    font-size: 150%;
    font-family:Calibri;
}
.card p{
    font-size: 125%;
    font-family:Calibri;
}
.ui-widget {
    font-size: 100% !important;
}
div.ui-g-6 {
    font-family: Calibri;
}
div {
    font-family: Calibri;
}
body {
    font-family: Calibri;
}
.logo {

    float: left;
}
.ui-menu-list, .ui-helper-reset {
    float: right;

}

.pi-times {
    color:red;
}

.pi-search {
    color:black;
}
.ui-menuitem,  .ui-widget, .ui-corner-all {


}


h1{
    font-family: Calibri;
}
h2{
    font-family:Calibri;
    text-align:center;
}
h3{
    font-family: Calibri;

}
div.front{
    text-align: center;
    font-family: Calibri;
}
div.h1{
    width: 100%;
}
div.login{
    position: relative;
    left: 40%;
}
div.img{
    width: 100%;
}

div.text{
    position: relative;
    width: 100%;
}
div.search{

}
div.name1{
    position: relative;
    text-align: center;
    font-family: Calibri;
}
div.name2 {
    position: relative;
    text-align: center;
    margin-top: 15px;
    font-family: Calibri;

}
div.bttn{
    position: relative;
    text-align: center;
    margin-top: 30px;
    font-family: Calibri;


}
div.fehler{
    color:red;
    position: absolute;
    left: 40%;
    font-family: Calibri;
}